/*!
 * Some custom CSS to make everything better <3
 * Created by the Triple Threat Team! (CSI 3670 - Winter 2019)
 * Ben Dreher, Kelly Kurkowski, and Mary Shiner
 */

/* Side nav */
.sidenav {
    background-color: #cc6600;
    height: 100%;
}

/* Set what nav list looks like */
ul.nav {
    list-style-type: none;
    margin: 5px;
}
/* Header in side nav */
h2.nav-header {
    text-align: center;
    color: #ffffff;
    padding-bottom: 5px;
}

/* Content headers */
h3 {
  font-size: xx-large;
  padding-bottom: 20px;
  font-weight: bold;
}

h5 {
  font-size: large;
  text-decoration: underline;
  padding-bottom: 10px;
}

/* Shrink nav logo and center */
img.nav-logo {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}
